<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div layout:fragment="content" class="container">
    <h1>User registration</h1>
    <form th:action="@{/auth/registration}" th:object="${userdto}" th:method="post">
        <div class="input-field">
            <input type="text" th:field="*{name}" id="name">
            <label for="name">Name</label>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="red-text"></p>
        </div>
        <div class="input-field">
            <input type="password" th:field="*{password}" id="password">
            <label for="password">Password</label>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="red-text"></p>
        </div>
        <div class="input-field">
            <input type="text" th:field="*{email}" id="email">
            <label for="email">Email</label>
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="red-text"></p>
        </div>
        <div class="input-field">
            <input type="text" th:field="*{city}" id="city">
            <label for="city">City</label>
            <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="red-text"></p>
        </div>
        <div class="input-field">
            <input type="text" th:field="*{street}" id="street">
            <label for="street">Street</label>
            <p th:if="${#fields.hasErrors('street')}" th:errors="*{street}" class="red-text"></p>
        </div>
        <input class="btn red accent-2" type="submit" value="Submit">
    </form>
<h5 th:text="${message}"></h5>
</div>
</body>
</html>