<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>
<main layout:fragment="content">
    <h1>Product list</h1>
    <div class="row">
        <form th:action="@{/products}" th:method="get">
            <label for="searchbox">Filter:</label>
            <input type="text" th:value="${keyword}" id="searchbox" name="keyword"/>
            <input type="submit" class="btn red accent-2" value="Search" />
            <input type="button" class="btn red accent-2" value="Clear" onclick="clearFilter()">
        </form>
    </div>
    <h5 class="red-text" th:text="${message}"></h5>
    <div class="row">
        <div class="col s12 l4" th:each="product : ${products}">
            <div class="card">
                <div class="card-image">
                    <img th:src="@{/images/{image}(image=${product.imgName})}" alt="Cento 10 Drag Reduction">
                </div>
                <div class="card-content">
                    <span class="card-title" th:text="${product.name}"></span>
                    <p th:text="${product.description}"></p>
                    <p><span th:text="${product.price}"></span> €</p>
                    <p th:text="${product.category.name}"></p>
                </div>
                <div class="card-action">
                    <a th:href="@{/cart/add/{id}(id=${product.id})}">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>