<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>
<main layout:fragment="content">
    <div class="row">
        <h1>Admin Control Panel</h1>
    </div>
    <div class="row">
        <h4>Orders</h4>
        <table>
            <tr>
                <th>Id</th>
                <th>Customer</th>
                <th>Order total</th>
                <th>Processed</th>
            </tr>
            <tr th:each="order : ${orders}">
                <td th:text="${order.getId()}"></td>
                <td th:text="${order.getUser().name}"></td>
                <td th:text="${order.getOrderTotal()}"></td>
                <td>
                    <a th:if="${order.isProcessed()}" th:href="@{/admin/processed/{orderId}(orderId=${order.getId()})}">
                        <i class="material-icons red-text">check_box</i>
                    </a>
                    <a th:unless="${order.isProcessed()}" th:href="@{/admin/processed/{orderId}(orderId=${order.getId()})}">
                        <i class="material-icons red-text">check_box_outline_blank</i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</main>
</body>
</html>