<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>
<main layout:fragment="content">
    <div class="row">
        <h1>Admin Control Panel</h1>
    </div>
    <div class="row">
        <h4>Orders</h4>
        <table>
            <tr>
                <th>Id</th>
                <th>Customer</th>
                <th>Order total</th>
                <th>Processed</th>
                <th>Action</th>
            </tr>
            <tr th:each="order : ${orders}">
                <td th:text="${order.getId()}"></td>
                <td th:text="${order.getUser().name}"></td>
                <td th:text="${order.getOrderTotal()}"></td>
                <td>
                    <i th:if="${order.isProcessed()}" class="material-icons">check_box</i>
                    <i th:unless="${order.isProcessed()}" class="material-icons">check_box_outline_blank</i>
                </td>
                <td>
                    <form th:action="@{/admin/processed/{orderId}(orderId=${order.getId()})}" th:method="post">
                        <input type="submit" class="btn-small red accent-2" value="Toggle processed">
                    </form>
                </td>
            </tr>
        </table>
    </div>
</main>
</body>
</html>