<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Shopping Cart</h1>
<table>
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Action</th>
    </tr>
    <tr th:each="item : ${cart}">
        <td th:text="${item.getProduct().getName()}"></td>
        <td th:text="${item.getProduct().getPrice()}"></td>
        <td th:text="${item.getQuantity()}"></td>
        <td>
            <p>
                <a th:href="@{/cart/increase/{id}(id=${item.getProduct().getId()})}">Increase quantity</a>
            </p>
            <p>
                <a th:href="@{/cart/reduce/{id}(id=${item.getProduct().getId()})}">Reduce quantity</a>
            </p>
        </td>
    </tr>
</table>
<p><a th:href="@{/cart/submit}">Submit order</a></p>
<p>Back to <a th:href="@{/products}">products</a></p>
</body>
</html>