<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Webshop</title>
</head>
<body>
<h1>Shopping Cart</h1>
<table>
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Action</th>
    </tr>
    <tr th:each="item : ${cart}">
        <td th:text="${item.getProduct().getName()}"></td>
        <td th:text="${item.getProduct().getPrice()}"></td>
        <td th:text="${item.getQuantity()}"></td>
        <td><a th:href="@{/cart/reduce/{id}(id=${item.getProduct().getId()})}">Reduce quantity</a></td>
    </tr>
</table>

</body>
</html>