/*header {*/
/*    background: url("../images/peloton.jpg");*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    min-height: 400px;*/
/*}*/

.inline-list > li {
    display: inline;
    margin-right: 2rem;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}