/*header {*/
/*    background: url("../images/peloton.jpg");*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    min-height: 400px;*/
/*}*/

.inline-list > li {
    display: inline;
    margin-right: 2rem;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    margin-bottom: 50px;
}

main {
    flex: 1 0 auto;
}

footer {
    margin-top: 100px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}