<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>
<main layout:fragment="content">
    <h1>Welcome!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ex neque, posuere vitae placerat sed, mattis ac
        purus. Proin at elit id neque ultricies finibus nec a ligula. Phasellus porttitor a mi et efficitur. Donec in
        tincidunt sapien. Etiam eu bibendum ligula. Duis pretium vestibulum odio, convallis ultricies enim malesuada
        quis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed auctor, justo et commodo vulputate, leo
        felis dignissim purus, quis interdum justo eros in nunc. Curabitur eget neque rhoncus, dictum elit quis, aliquam
        nulla.</p>
    <p>Aliquam ac lobortis massa. Praesent nec ante eu ligula facilisis convallis ac quis ex. Vestibulum lacinia leo
        velit, at interdum lorem volutpat vitae. Sed varius non felis in accumsan. Donec ornare aliquet nibh. Nunc
        sollicitudin tellus sit amet erat porta dapibus. Aenean mollis, erat sit amet fringilla porta, justo lacus
        iaculis nisl, nec cursus tortor elit et massa. Morbi dapibus sodales arcu, eu laoreet risus ullamcorper ut.
        Pellentesque aliquam suscipit vulputate. Aenean ullamcorper consectetur ipsum sed gravida. Donec mattis
        imperdiet orci, quis ultrices dui gravida eget.</p>
    <p>Vivamus eget orci felis. Proin interdum pharetra volutpat. Aliquam semper lectus posuere sapien iaculis, vel
        consectetur mauris maximus. Cras accumsan feugiat enim eu posuere. Vestibulum porta risus eu justo pretium
        bibendum. Duis metus mauris, fermentum ac mattis ac, mattis sit amet diam. Nulla nisi magna, elementum vitae
        pretium sit amet, elementum ut nunc. Fusce diam ligula, sollicitudin et nulla vitae, ullamcorper feugiat
        sapien.</p>
    <p>Suspendisse quis molestie nunc. Mauris porttitor mollis diam at varius. Nam sit amet lorem sed erat imperdiet
        rhoncus ac quis ante. Curabitur gravida finibus venenatis. Interdum et malesuada fames ac ante ipsum primis in
        faucibus. Donec ac tincidunt arcu. Morbi dictum et velit id commodo. Aliquam tristique nisi non risus molestie,
        non egestas neque pretium. Sed accumsan lorem dignissim ligula mattis varius.</p>
    <p>Quisque augue turpis, hendrerit sed orci sed, fringilla semper urna. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Sed venenatis dui sit amet mauris tristique, ac aliquam nisi pharetra. Nulla sem eros, maximus
        ut pretium eu, consectetur sed nisl. Duis mattis tincidunt lacus sed porttitor. Suspendisse iaculis a erat
        pharetra tempor. Etiam lacinia nulla nibh, vitae facilisis enim pellentesque ac. Praesent ac sagittis ex.
        Vivamus nec mauris mollis, facilisis ipsum id, cursus ante. Quisque vehicula lacus id felis pretium fermentum.
        Sed hendrerit erat at neque placerat, sed tempus massa ullamcorper. Quisque eu ex a sapien consectetur molestie.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a justo vel urna sollicitudin aliquam. Etiam
        suscipit nisl vel mi congue gravida. Nullam condimentum est ac urna venenatis, ut hendrerit tellus
        porttitor.</p>
</main>
</body>
</html>