<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>User login</h1>
<form th:action="@{/login}" method="post">
    <input type="text" name="username" placeholder="Enter email" required>
    <input type="password" name="password" placeholder="Enter password" required>
    <input type="submit" name="login-submit" value="Submit">
</form>
<p>New user? Register <a th:href="@{/user/registration}">here</a></p></p>
<p th:if="${param.logout}">Logout successful!</p>
<p><a th:href="@{/}">Back to home</a></p>
</body>
</html>