<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>
<main layout:fragment="content">
    <h1>User registration</h1>
    <form th:action="@{/registration}" th:object="${userdto}" th:method="post">
        <input type="text" th:field="*{name}" placeholder="Enter name" required>
        <input type="password" th:field="*{password}" placeholder="Enter password" required>
        <input type="email" th:field="*{email}" placeholder="Enter email" required>
        <input type="text" th:field="*{city}" placeholder="Enter city" required>
        <input type="text" th:field="*{street}" placeholder="Enter street" required>
        <input class="btn red accent-2" type="submit" value="Submit">
    </form>
    <p th:if="${param.success}">Registration successful!</p>
    <p th:if="${param.failure}">Registration failed!</p>
</main>
</body>
</html>